{#<!--<!DOCTYPE html>-->#}
{#<!--<html lang="en">-->#}
{#<!--<head>-->#}
{#<!--    <meta charset="UTF-8">-->#}
{#<!--    <title>Bitcoin rate</title>-->#}
{#<!--</head>-->#}
{#<!--<body>-->#}
{#<!--&lt;!&ndash;<form action="{{ url_for('test_view') }}?value=name" target="https://bitpay.com/api/rates">&ndash;&gt;-->#}
{#<!--<form action="{{ url_for('test_view') }}?value=name">-->#}

{#<!--  <input type="search" name="q">-->#}
{#<!--  <input type="hidden" name="as_sitesearch" value="https://bitpay.com/api/rates">  &lt;!&ndash; «shpargalkablog.ru» заменить на свой адрес сайта &ndash;&gt;-->#}
{#<!--  <input type="submit" value="Найти">-->#}
{#<!--</form>-->#}
{#<!--</body>-->#}
{#<!--</html>-->#}

{% extends 's_base.html' %}

{% block title %}Home Work{% endblock %}

{% block content %}
<hr>
    <h1  align=" center ">Welcome to Bitcoin rate Home Work!</h1>
<hr>

{% endblock %}

